@charset "UTF-8";
/* reset 문구 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", "나눔고딕", sans-serif;
  letter-spacing: -1px;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  opacity: 0;
  left: -99999px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 변수 */
.container {
  position: relative;
  /* To 개발팀 : iframe이나 form에 넣으실 때 
  아래 padding-top: 100px;속성 제거 해 주세요.*/
  padding-top: 100px;
}
.container .form-wrap {
  margin-top: 10px;
}
.container .form-wrap .ui-tabs-nav {
  display: flex;
  height: 30px;
}
.container .form-wrap .ui-tabs-nav .ui-sortable-handle {
  border-radius: 5px 5px 0 0;
  background-color: #004098;
}
.container .form-wrap .ui-tabs-nav .ui-sortable-handle .ui-tabs-anchor {
  color: #fff;
}
.container .form-wrap .ui-tabs-nav .ui-sortable-handle button {
  width: 30px;
  background-color: transparent;
  border: none;
}
.container .form-wrap form .main-2f {
  height: calc(50% - 40px);
  display: flex;
}
.container .form-wrap form .main-2f section {
  position: relative;
  width: 25%;
  padding: 20px 10px 20px 20px;
  border-right: 1px solid #eee;
}
.container .form-wrap form .main-2f section .section-title {
  margin-bottom: 15px;
}
.container .form-wrap form .main-1f {
  height: calc(50% - 40px);
  padding-bottom: 30px;
  display: flex;
}
.container .form-wrap form .main-1f section {
  position: relative;
  width: 50%;
  padding: 20px 10px 20px 20px;
}
.container .form-wrap form .main-1f section:last-child {
  margin-right: 0;
}
.container .form-wrap form .main-1f section .section-title {
  margin-bottom: 15px;
}

.incompleted-sec {
  border-top: 2px solid #00367a;
}
.incompleted-sec .section-title .more-btn {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 22px;
  color: #fff;
  background-color: #495464;
  border-radius: 12px;
  font: 0.9em/18px "roboto";
  text-align: center;
}
.incompleted-sec .wrapper table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
.incompleted-sec .wrapper table tbody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.incompleted-sec .wrapper table tbody tr {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
}
.incompleted-sec .wrapper table tbody tr:last-of-type {
  margin-bottom: 10px;
}
.incompleted-sec .wrapper table tbody tr:hover {
  background-color: #f2f3f6;
}
.incompleted-sec .wrapper table tbody tr td {
  display: flex;
  flex-direction: column;
}
.incompleted-sec .wrapper table tbody tr .issue-title {
  width: 68%;
  padding-left: 5px;
}
.incompleted-sec .wrapper table tbody tr .issue-title .issue-type {
  color: #2aab7d;
}
.incompleted-sec .wrapper table tbody tr .issue-title .detail-title {
  color: #000;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.incompleted-sec .wrapper table tbody tr .processing-status {
  width: 32%;
  text-align: right;
  padding-right: 5px;
}
.incompleted-sec .wrapper table tbody tr .processing-status .current-status {
  color: #e07351;
}
.incompleted-sec .wrapper table tbody tr .processing-status a {
  color: #000;
}

.unpro-doc {
  border-top: 2px solid #eb6100;
}
.unpro-doc .unpro-doc-btn-wrap {
  display: flex;
  flex-wrap: wrap;
}
.unpro-doc .unpro-doc-btn-wrap .unpro-doc-btn {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18%;
  margin-right: 2%;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 5%;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #5c5a59;
  font-weight: bold;
}
.unpro-doc .unpro-doc-btn-wrap .unpro-doc-btn span {
  display: block;
  text-align: center;
  color: #7eb59c;
  font-size: 0.78em;
  margin-bottom: 3px;
  font-weight: normal;
}
.unpro-doc .unpro-doc-btn-wrap .unpro-doc-btn:nth-of-type(even) {
  background-color: #f2f2f2;
}
.unpro-doc .unpro-doc-btn-wrap .unpro-doc-btn:nth-of-type(5n) {
  margin-right: 0;
}
.unpro-doc .unpro-doc-btn-wrap .unpro-doc-btn:nth-of-type(11), .unpro-doc .unpro-doc-btn-wrap .unpro-doc-btn:nth-of-type(12), .unpro-doc .unpro-doc-btn-wrap .unpro-doc-btn:nth-of-type(13), .unpro-doc .unpro-doc-btn-wrap .unpro-doc-btn:nth-of-type(14), .unpro-doc .unpro-doc-btn-wrap .unpro-doc-btn:nth-of-type(15) {
  margin-bottom: 0;
}

.notice {
  border-top: 2px solid #7eb59c;
}
.notice .section-title .more-btn {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 22px;
  color: #fff;
  background-color: #495464;
  border-radius: 12px;
  font: 0.9em/18px "roboto";
  text-align: center;
}
.notice .notice-wrapper {
  height: 100%;
}
.notice .notice-wrapper table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
.notice .notice-wrapper table tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.notice .notice-wrapper table tbody tr {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.9em;
  border-bottom: 1px solid #ddd;
  padding: 0 5px 5px 5px;
}
.notice .notice-wrapper table tbody tr:hover {
  background-color: #f4f4f4;
}
.notice .notice-wrapper table tbody tr a {
  color: #000;
}
.notice .notice-wrapper table tbody tr .import-notice {
  color: #fb0808;
}
.notice .notice-wrapper table tbody tr .import-notice svg {
  width: 15px;
  margin-right: 5px;
  fill: #fb0808;
}

.ecm-graph {
  border-top: 2px solid #5c5a59;
}

.current-quan {
  position: relative;
  border-top: 2px solid #00367a;
}
.current-quan::after {
  display: block;
  content: "";
  position: absolute;
  top: 500px;
  left: 1px;
}
.current-quan .section-title .more-btn {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 22px;
  color: #fff;
  background-color: #495464;
  border-radius: 12px;
  font: 0.9em/18px "roboto";
  text-align: center;
}
.current-quan .current-quan-tab {
  position: relative;
}
.current-quan .current-quan-tab .current-quan-list {
  overflow: hidden;
}
.current-quan .current-quan-tab .current-quan-list li {
  float: left;
  width: 120px;
  height: 30px;
}
.current-quan .current-quan-tab .current-quan-list li .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  height: 100%;
  color: #999;
  background-color: #f2f2f2;
}
.current-quan .current-quan-tab .current-quan-list li.is-on .btn {
  background-color: #7eb59c;
  font-weight: bold;
  color: #fff;
}
.current-quan .current-quan-tab .current-quan-list-cont-wrap::after {
  display: block;
  content: "";
  position: absolute;
  top: 300px;
  left: 0;
}
.current-quan .current-quan-tab .current-quan-list-cont-wrap .cont {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  text-align: center;
  width: 100%;
  height: 35vh;
  border: 1px solid #7eb59c;
}
.current-quan .current-quan-tab .current-quan-list-cont-wrap .cont img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.current-quan .current-quan-tab .current-quan-list-cont-wrap .cont.is-on {
  display: block;
}

/*
.current-quan-tab{position:relative;}
  .current-quan-tab .current-quan-list{overflow:hidden;}
  .current-quan-tab .current-quan-list li{float:left; margin-right:14px;}
  .current-quan-tab .current-quan-list li.is_on .btn{font-weight:bold; color:green;}
  .current-quan-tab .current-quan-list .btn{font-size:13px;}
  .current-quan-tab .current-quan-list-cont-wrap .current-quan-list-cont{position:absolute; top:25px; left:0; background:#555; color:#fff; text-align:center; width:250px; height:100px; line-height:100px;}
*/
.dashboard {
  border-top: 2px solid #00367a;
}
.dashboard .wrapper {
  width: 100%;
  height: 35vh;
}
.dashboard .wrapper .dashboard-menu-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #eb6100;
}
.dashboard .wrapper .dashboard-menu-wrap .dashboard-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%;
  margin-right: 2%;
  margin-bottom: 2%;
  height: 118px;
  border-radius: 7px;
  border: 1px solid #7eb59c;
}
.dashboard .wrapper .dashboard-menu-wrap .dashboard-menu p {
  color: #7eb59c;
  font-size: 1.3em;
}
.dashboard .wrapper .dashboard-menu-wrap .dashboard-menu span::before {
  content: url(./image/4m변경.svg);
  fill: #7eb59c;
}
.dashboard .wrapper .quick-menu-wrap {
  width: 100%;
  height: 65px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 2%;
}
.dashboard .wrapper .quick-menu-wrap .quick-menu {
  width: 19%;
  margin-right: 1%;
  border: 1px solid #5c5a59;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=myjob.css.map */
