@charset "utf-8";
$color-logo-light-blue: #008bd6;
$color-logo-dark-blue: #004098;
$color-logo-orange: #eb6100;

header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid $color-logo-dark-blue;
	background-color: #fff;
	.header-container {
		position: relative;
		height: 100%;
		.logo-img {
			float: left;
			display: block;
			position: relative;
			width: 200px;
			height: 32.5px;
			margin: 20px 20px 10px;
			&::before {
				display: block;
				content: "Quality Management System";
				font-size: 0.33em;
				letter-spacing: 0.5px;
				position: absolute;
				top: 57px;
				left: 32px;
			}
			&::after {
				display: block;
				content: "";
				margin-top: 5px;
				width: 100%;
				height: 1px;
				background-color: #000;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.header-2f {
			position: relative;
			width: calc(100% - 240px);
			height: 50%;
			display: flex;
			justify-content: flex-end;
			.quick-myjob {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 300px;
				height: 35px;
				letter-spacing: 0;
				border: 1.5px solid $color-logo-orange;
				border-radius: 5px;
				margin-top: 10px;
				span {
					font-size: 0.8em;
					letter-spacing: 0;
					font-weight: bold;
					margin-right: 7px;
				}
				.incompleted {
					letter-spacing: 0;
					font-size: 0.75em;
				}
				.refer {
					letter-spacing: 0;
					font-size: 0.75em;
				}
			}
			.gnb-wrap {
				position: relative;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				width: 20%;
				gap: 30px;
				margin-right: 20px;
				.admin {
					text-align: right;
					font-size: 12px;
				}
				.logout {
					display: inline-block;
					background-color: $color-logo-dark-blue;
					border-radius: 3px;
					padding: 3px 10px;
					font-size: 0.8em;
					letter-spacing: 0;
					color: #fff;
				}
			}
		}
		.header-1f {
			height: 50%;
			padding-left: 30px;
			.main-gnb {
				float: left;
				ul {
					display: flex;
					align-items: center;
					border-radius: 3px;
					li {
						height: 100%;
						margin: 3px;
						transition: 0.3s;
						position: relative;
						&::after {
							display: block;
							content: "";
							width: 100%;
							height: 3px;
							opacity: 0;
							transition: 0.3s;
							background-color: $color-logo-orange;
						}
						&:hover {
							&::after {
								opacity: 1;
							}
						}
						&.open {
							&::after {
								opacity: 1;
							}
						}
						a {
							display: flex;
							justify-content: space-evenly;
							align-items: center;
							height: 100%;
							color: #000;
							span {
								padding: 5px 10px;
								font-size: 0.95em;
								font-weight: bold;
							}
						}
					}
				}
			}
			.gnb-btn {
				display: flex;
				gap: 15px;
				li {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 30px;
					height: 30px;
					border-radius: 3px;
					border: 1px solid #ccc;
					&.arrow-left {
						background: url(../image/arrow_left.png)
							no-repeat center/contain;
					}
					&.arrow-right {
						background: url(../image/arrow_right.png)
							no-repeat center/contain;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	header {
		.header-container {
			flex-direction: column;
			.header-1f {
				width: calc(100% - 200px);
			}
		}
	}
}

@media screen and (max-width: 1120px) {
	header {
		height: 150px;
		.header-container {
			.logo-img {
				margin-top: 45px;
			}
			.header-2f {
				height: 34%;
				.gnb-wrap {
					width: 50%;
					.admin {
						display: none;
					}
					#gnb {
						display: none;
					}
				}
			}
			.header-1f {
				height: 66%;
				.main-gnb {
					position: relative;
					ul {
						flex-wrap: wrap;
						justify-content: flex-start;
						&::after {
							display: block;
							content: "";
							position: absolute;
							top: 50%;
							left: 0;
							width: 100%;
							height: 2px;
							background-color: $color-logo-dark-blue;
						}
						li {
							width: 22%;
							flex: auto;
							a {
								font-size: 14px;
								img {
									width: 25px;
								}
							}
						}
					}
				}
			}
		}
	}
}
